body{
    background-color: pink;
    color:olivedrab;
}
.img{
    background-image: url(../images/photo.png);
    width:466px;
    height:453px;
    box-shadow: olivedrab;
    transform:rotate(30deg);
}